@font-face {
    font-family: 'gill-sans-mt';
    src: url('../../fonts/gill-sans-mt.eot');
    src: url('../../fonts/gill-sans-mt.eot') format('embedded-opentype'),
         url('../../fonts/gill-sans-mt.woff') format('woff'),
         url('../../fonts/gill-sans-mt.ttf') format('truetype');
}

@font-face {
    font-family: 'gill-sans-mt-bold';
    src: url('../../fonts/gill-sans-mt-bold.eot');
    src: url('../../fonts/gill-sans-mt-bold.eot') format('embedded-opentype'),
         url('../../fonts/gill-sans-mt-bold.woff') format('woff'),
         url('../../fonts/gill-sans-mt-bold.ttf') format('truetype');
}
