/*
 * Globals
 */

body {
  font-family: 'gill-sans-mt', Georgia, "Times New Roman", Times, serif;
  color: #333;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'gill-sans-mt-bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;

}

.h1, h1 {
  font-size: 26px;
}

a {
  font-family: 'gill-sans-mt', "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-header .logo  {
  text-align: center;
}

.blog-title {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 44px;
  font-weight: normal;
}
.blog-title a {
  color: #000;
}
.blog-title a:hover {
  text-decoration: none;
}

.blog-description {
  font-family: 'gill-sans-mt-bold', Georgia, "Times New Roman", Times, serif;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 17px;
    line-height: 1.5;
    padding-right: 50px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-top: 36px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Category
 */

.blog-category-title {
    font-size: 26px;
}

.category_page {
  float: left;
}
.category_page.odd {
  margin-right: 20px;
}

/*
 * Pages
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  /*font-size: 26px;*/
}
.blog-post-meta, .blog-post-meta a {
  font-family: 'gill-sans-mt', Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
  color: #999;
  font-size: 22px;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
* Menu
*/

.main-menu li a {
  font-size: 17px;
  font-family: 'gill-sans-mt', Georgia, "Times New Roman", Times, serif;
}

.main-menu li.active a {
    color: #000;
    text-decoration: underline;
}

/*
* Carousel
*/
/*#carousel-page-gallery .carousel-caption {*/
  /*position: static;*/
  /*background-color: #999;*/
/*}*/

.image-caption {
  font-family: 'gill-sans-mt', Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}

.slick-slider {
    margin-left: 10px;
}