{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <div class="blog-post">
        <h2 class="blog-category-title">{{ object.title }}</h2>
        {% for page in object.active_pages %}
            <div class="category_page{% if not forloop.counter|divisibleby:2 %} odd{% endif %}">
                <a href="{{ page.get_url }}">
                    {% if page.preview %}
                        {% thumbnail page.preview "330x240" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ image.title }}">
                        {% endthumbnail %}
                    {% endif %}
                    <p>{{ page.title }}</p>
                </a>
            </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
    <!-- /.post -->
{% endblock %}