{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ object.title }}</h2>
        {% if object.category %}
            <p class="blog-post-meta">Category: <a href="{{ object.category.get_absolute_url }}">
                {{ object.category.title }}</a></p>
        {% endif %}
        {{ object.text|safe }}

        {% if object.gallery.count %}
        <div id="carousel-page-gallery" class="">
            {% for image in object.gallery.all %}
            <div class="gallery-item">
                {% thumbnail image.file "600" as big_im %}
                    <a rel="gallery" class="fancybox" href="{{ big_im.url }}">
                    {% thumbnail image.file "x350" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ image.title }}">
                    {% endthumbnail %}
                    </a>
                {% endthumbnail %}
                {% if image.title %}<div class="image-caption">{{ image.title }}</div>{%  endif %}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
        <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl=http%3A%2F%2Fgoryushina.com%2F&amp;linkname=Tania%20Goryushina"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_google_plus"></a>
        </div>
        <script type="text/javascript">
        var a2a_config = a2a_config || {};
        a2a_config.linkname = "Tania Goryushina";
        a2a_config.linkurl = "http://goryushina.com/";
        a2a_config.num_services = 4;
        a2a_config.prioritize = ["facebook", "google_plus", "twitter", "tumblr", "linkedin", "pinterest", "whatsapp", "evernote"];
        </script>
        <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->
    </div>
    <!-- /.post -->
{% endblock %}