{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ object.title }}</h2>
        {% if object.category %}
            <p class="blog-post-meta">Category: <a href="{{ object.category.get_absolute_url }}">
                {{ object.category.title }}</a></p>
        {% endif %}
        {{ object.text|safe }}

        {% if object.gallery.count %}
        <div id="carousel-page-gallery" class="">
            {% for image in object.gallery.all %}
            <div class="gallery-item">
                {% thumbnail image.file "x350" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ image.title }}">
                {% endthumbnail %}
                {% if image.title %}<div class="image-caption">@ {{ image.title }}</div>{%  endif %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <!-- /.post -->
{% endblock %}